<div class="control-group<% if @item.errors[:price] and ! @item.errors[:price].empty? %> error<% end %>">
	<%= f.label :price, t('price') + " *", :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :price, :class => "input-large" %>
		<% if @item.errors[:price] and ! @item.errors[:price].empty? %>
                <span class="help-inline"><%= @item.errors[:price].join(', ') %></span>
        <% end %>
	</div>
</div>
	
<div class="control-group">
        <div class="controls">
                <%= f.submit t('edit'), :class => "btn btn-primary btn-large" %>
                <a href="#" class="btn" data-dismiss="modal" ><%= t('cancel') %></a>
        </div>
</div>