<div class="row-fluid">
        <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                        <th><%= t('depositorid') %> / <%= t('firstnameandlastname') %></th>
                        <th><%= t('total') %></th>
                        <th><%= t('keptfees') %> (<%= Settings.keptfees %>%)</th>
                    </tr>
                </thead>
                <tbody>
                <% if ! @depositors.empty? %>
                        <% turnover = 0 %>
                        
                        <% @depositors.each do |dep| %>
                            <% total = 0.0 %>
                            <% dep.items.each do |it| %>
                                <% if it.is_sold? %>
                                    <% total += it.price %>
                                <% end %>
                            <% end %>
                            <% fees = total * Settings.keptfees.to_f / 100 %>
                            <% turnover += total %>
                            <tr>
                                <td><a href="<%= url_for(:controller => "depositors", :action => "show", :depositorid => dep.id) %>">d<%= dep.id %> : <%= dep.firstname.capitalize %> <%= dep.lastname.capitalize %></a></td>
                                <td><%= total %> €</td>
                                <td><%= fees %> €</td>
                            </tr>
                        <% end %>
                        <% profit = turnover * Settings.keptfees.to_f / 100 %>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="info">
                            <td>&nbsp;</td>
                            <td><strong><u><%= t('turnover') %></u>: </strong></td>
                            <td><span class="badge badge-info"><%= turnover %> €</span></td>
                        </tr>
                        <tr class="success">
                            <td>&nbsp;</td>
                            <td><strong><u><%= t('profit') %></u>: </strong></td>
                            <td><span class="badge badge-success"><%= profit %> €</span></td>
                        </tr>
                <% end %>
                </tbody>
        </table>
        <% if @depositors.empty? %>
        <div class="alert alert-info">
                <%= t('nodepositor') %>
        </div>
        <% end %>
    </div>