<div class="row-fluid"> 
    <div class="page-header">
        <h1><%= t('balancesheet') %></h1>
    </div>
</div>

<div class="accordion" id="accordion_balancesheet">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_balancesheet" href="#collapseListSells">
        <h3><%= t('listsells') %></h3>
      </a>
    </div>
    <div id="collapseListSells" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render "sellings/listsells" %>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_balancesheet" href="#collapseListSellsbyDep">
        <h3><%= t('listsellsbydepositors') %></h3>
      </a>
    </div>
    <div id="collapseListSellsbyDep" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render "sellings/listsellsbydepositors" %>
      </div>
    </div>
  </div>

</div>