<div class="row-fluid"> 
    <div class="page-header">
        <h1><%= t('searchresults') %></h1> <a href="<%= url_for(:controller => "sellings", :action => "showcurrent") %>">&lt;&lt; <%= t('returntocurrentselling') %></a>
    </div>
</div>

<div class="row-fluid">
        <table class="table table-striped">
                <tbody>
                    <% @results.each do |item| %>
                        <tr>
                            <td><%= item.id %> : <%= item.name %></td>
                            <td>
                                <% if item.is_sold? %>
                                    <span class="label label-success"><%= t('sold') %></span>
                                <% else %>
                                    <%= form_tag(url_for(:controller => "sellings", :action => "addItemToCurrentSell"), :method => :post, :class => "form-horizontal") do %>
                        				    <%= hidden_field_tag :itemid, params[:itemid], :value => item.id %>
                                              
                                               <div class="control-group">
                                                    <div class="controls">
                                                         <%= submit_tag t('additemtosell'), :name => nil, :class => "btn btn-primary" %>
                                                    </div>
                                               </div>
                                     <% end %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
        </table>
</div>