<%= javascript_include_tag    "highcharts.js" %>

<div class="row-fluid"> 
    <div class="page-header">
        <h1><%= t('statistics') %></h1>
    </div>
</div>

<div class="accordion" id="accordion_statistics">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_statistics" href="#collapseDepositors">
        <h3><%= t('depositors') %></h3>
      </a>
    </div>
    <div id="collapseDepositors" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="span12">
            <div class="span2">
                <span class="label label-info"><%= @depositors.count() %></span> <%= t('depositors') %>
            </div>
            <div class="span8">
                <span class="label label-success"><%= @depositorsWithSells.count() %></span> <%= t('depositorswithsells') %>
                <div class="progress progress-success progress-striped">
                    <div class="bar" style="width: <%= @depositorsWithSellsPercent %>%"><%= @depositorsWithSellsPercent %>%</div>
                </div>
            </div>
        </div>
        <div class="span12">
            <div id="depositorsChartContainer" style="max-width: 50%;border:1px solid black;"></div>
            <% @depositorsDataPerDayPerHour.each do |depday|
                dd = depday[0]
            %>
                <div id="depositorsHourChartContainer<%= dd.gsub('/', '_') %>" style="max-width: 50%;border:1px solid black;margin: 1px 1px;" class="pull-left"></div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_statistics" href="#collapseItems">
        <h3><%= t('items') %></h3>
      </a>
    </div>
    <div id="collapseItems" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="span12">
            <div class="span2">
                <p>
                    <span class="label label-info"><%= @items.count() %></span> <%= t('items') %>
                </p>
                <p>
                    <span class="label label-info"><%= @averageItemPerDepositors %></span> <%= t('items') %> <%= t('inaverage') %> <%= t('perdepositor') %>
                </p>
            </div>
            <div class="span8">
                <span class="label label-success"><%= @soldItems.count() %></span> <%= t('itemssold') %>
                <div class="progress progress-success progress-striped">
                    <div class="bar" style="width: <%= @soldItemsPercent %>%"><%= @soldItemsPercent %>%</div>
                </div>
            </div>
        </div>
        <div class="span12">
            <div class="span2">
                <%= t('averageitemprice') %> : <span class="label label-info"><%= @itemAveragePrice %> €</span>
            </div>
            <div class="span8">
                <%= t('distributionaverageprice') %>
                <div class="progress progress-striped">
                    <div class="bar bar-info" style="width: <%= @soldItemsPercentLTAveragePrice %>%"><%= @soldItemsPercentLTAveragePrice %>% &lt;= <%= @itemAveragePrice %> €</div>
                    <div class="bar bar-success" style="width: <%= @soldItemsPercentGTAveragePrice %>%"><%= @soldItemsPercentGTAveragePrice %>% &gt; <%= @itemAveragePrice %> €</div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_statistics" href="#collapseSells">
        <h3><%= t('sellings') %></h3>
      </a>
    </div>
    <div id="collapseSells" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="span12">
            <div class="span2">
                <span class="label label-info"><%= @sells.count() %></span> <%= t('sellings') %>
            </div>
        </div>
        <div class="span12">
            <% @sellsDataPerDayPerHour.each do |depday|
                dd = depday[0]
            %>
                <div id="sellingsChartContainer<%= dd.gsub('/', '_') %>" style="max-width: 50%;border:1px solid black;margin: 1px 1px;" class="pull-left"></div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_statistics" href="#collapseCash">
        <h3><%= t('cashbasisaccounting') %></h3>
      </a>
    </div>
    <div id="collapseCash" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="span12">
            <%= t('turnover') %> : <span class="label label-info"><%= @turnover %> €</span>
        </div>
        <div class="span12">
            <%= t('profit') %> : <span class="label label-success"><%= @profit %> €</span>
        </div>
        <div class="span12">
            <%= link_to(t('balancesheet'), :controller => "sellings", :action => "balancesheet") %>
        </div>
      </div>
    </div>
  </div>
  
<script type="text/javascript">
    function basic_bars_depositors(labels, values) {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'depositorsChartContainer',
                type: 'column'
            },
            title: {
                text: '<%= t('depositorsPerDayChart') %>'
            },
            xAxis: {
                categories: labels
            },
            yAxis: {
                min: 0,
                title: {
                    text: '<%= t('depositors') %>'
                }
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +' : '+ this.y +' <%= t('depositors') %>';
                }
            },
            legend: {
                enabled: false 
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 2
                }
            },
                series: [{
                data: values
    
            }]
        });
    };
    
    function basic_bars_depositors_hour(labels, values, day) {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'depositorsHourChartContainer' + day.replace(/\//g, '_'),
                type: 'column'
            },
            title: {
                text: '<%= t('depositorsPerHourChart') %> : ' + day
            },
            colors: [ 
                '#3D96AE'
            ],
            xAxis: {
                categories: labels
            },
            yAxis: {
                min: 0,
                allowDecimals:false,
                title: {
                    text: '<%= t('depositors') %>'
                }
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +' : '+ this.y +' <%= t('depositors') %>';
                }
            },
            legend: {
                enabled: false 
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 2
                }
            },
                series: [{
                data: values
    
            }]
        });
    };
    
    function basic_bars_sellings_hour(labels, values, day) {
          var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'sellingsChartContainer' + day.replace(/\//g, '_'),
                type: 'column'
            },
            title: {
                text: '<%= t('sellingsPerHourChart') %> : ' + day
            },
            colors: [ 
                '#3D96AE'
            ],
            xAxis: {
                categories: labels
            },
            yAxis: {
                min: 0,
                allowDecimals:false,
                title: {
                    text: '<%= t('sellings') %>'
                }
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +' : '+ this.y +' <%= t('sellings') %>';
                }
            },
            legend: {
                enabled: false 
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 2
                }
            },
                series: [{
                data: values
    
            }]
        });
    };
    
    depositorsDataLabels = []
    depositorsDataValues = []
    
    <% @depositorsDataPerDay.each do |depD| %>
        depositorsDataLabels.push('<%= depD[0] %>');
        depositorsDataValues.push(<%= depD[1] %>);
    <% end %>
    
    depositorsDataPerHourLabels = []
    depositorsDataPerHourValues = []
    
    <% @depositorsDataPerDayPerHour.each do |depday|
            dd = depday[0]
    %>        
            depositorsDataPerHourLabels['<%= dd %>'] = [];
            depositorsDataPerHourValues['<%= dd %>'] = [];
    <%        
            depday[1].each do |dephour|
                depH = ((dephour[0].to_i+1)<10 ? "0"+(dephour[0].to_i+1).to_s : (dephour[0].to_i+1).to_s)
    %>            
                depositorsDataPerHourLabels['<%= dd %>'].push('<%= dephour[0] %>h-<%= depH %>h');
                depositorsDataPerHourValues['<%= dd %>'].push(<%= dephour[1] %>);
    <%            
            end
    %>       
            basic_bars_depositors_hour(depositorsDataPerHourLabels['<%= dd %>'], depositorsDataPerHourValues['<%= dd %>'], '<%= dd %>');
    <%
        end
    %>

    
    sellsDataPerHourLabels = []
    sellsDataPerHourValues = []
    
    <% @sellsDataPerDayPerHour.each do |selday|
            dd = selday[0]
    %>        
            sellsDataPerHourLabels['<%= dd %>'] = [];
            sellsDataPerHourValues['<%= dd %>'] = [];
    <%        
            selday[1].each do |selhour|
                selH = ((selhour[0].to_i+1)<10 ? "0"+(selhour[0].to_i+1).to_s : (selhour[0].to_i+1).to_s)
    %>            
                sellsDataPerHourLabels['<%= dd %>'].push('<%= selhour[0] %>h-<%= selH %>h');
                sellsDataPerHourValues['<%= dd %>'].push(<%= selhour[1] %>);
    <%            
            end
    %>       
            basic_bars_sellings_hour(sellsDataPerHourLabels['<%= dd %>'], sellsDataPerHourValues['<%= dd %>'], '<%= dd %>');
    <%
        end
    %>
    
    basic_bars_depositors(depositorsDataLabels, depositorsDataValues);
</script>
  
  
</div>