            <%= javascript_include_tag    "RGraph.common.core.js" %>
            <%= javascript_include_tag    "RGraph.bar.js" %>
            <!--[if lt IE 9]>
                <%= javascript_include_tag    "excanvas.js" %>
            <![endif]-->

<div class="row-fluid"> 
    <div class="page-header">
        <h1><%= t('statistics') %></h1>
    </div>
</div>

<div class="accordion" id="accordion_statistics">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_statistics" href="#collapseDepositors">
        <%= t('depositors') %>
      </a>
    </div>
    <div id="collapseDepositors" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="span12">
            <div class="span2">
                <span class="label label-info"><%= @depositors.count() %></span> <%= t('depositors') %>
            </div>
            <div class="span8">
                <span class="label label-success"><%= @depositorsWithSells.count() %></span> <%= t('depositorswithsells') %>
                <div class="progress progress-success progress-striped">
                    <div class="bar" style="width: <%= @depositorsWithSellsPercent %>%"><%= @depositorsWithSellsPercent %>%</div>
                </div>
            </div>
        </div>
        <div class="span12">
            <h5><%= t('depositorsPerDayChart') %></h5>
            <canvas id="depositorsChartContainer">[No canvas support]</canvas>
            <h5><%= t('depositorsPerDayPerHourChart') %></h5>
            <canvas id="depositorsHourChartContainer">[No canvas support]</canvas>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_statistics" href="#collapseItems">
        <%= t('items') %>
      </a>
    </div>
    <div id="collapseItems" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="span12">
            <div class="span2">
                <span class="label label-info"><%= @items.count() %></span> <%= t('items') %>
            </div>
            <div class="span8">
                <span class="label label-success"><%= @soldItems.count() %></span> <%= t('itemssold') %>
                <div class="progress progress-success progress-striped">
                    <div class="bar" style="width: <%= @soldItemsPercent %>%"><%= @soldItemsPercent %>%</div>
                </div>
            </div>
        </div>
        <div class="span12">
            <div class="span2">
                <%= t('averageitemprice') %> : <span class="label label-info"><%= @itemAveragePrice %> €</span>
            </div>
            <div class="span8">
                <%= t('distributionaverageprice') %>
                <div class="progress progress-striped">
                    <div class="bar bar-info" style="width: <%= @soldItemsPercentLTAveragePrice %>%"><%= @soldItemsPercentLTAveragePrice %>% &lt; <%= @itemAveragePrice %> €</div>
                    <div class="bar bar-success" style="width: <%= @soldItemsPercentGTAveragePrice %>%"><%= @soldItemsPercentGTAveragePrice %>% &gt; <%= @itemAveragePrice %> €</div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_statistics" href="#collapseSells">
        <%= t('sellings') %>
      </a>
    </div>
    <div id="collapseSells" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="span12">
            <div class="span2">
                <span class="label label-info"><%= @sells.count() %></span> <%= t('sellings') %>
            </div>
        </div>
        <div class="span12">
            <h5><%= t('sellingsPerHourChart') %></h5>
            <canvas id="sellingsChartContainer">[No canvas support]</canvas>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_statistics" href="#collapseCash">
        <%= t('cashbasisaccounting') %>
      </a>
    </div>
    <div id="collapseCash" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="span12">
            <%= t('turnover') %> : <span class="label label-info"><%= @turnover %> €</span>
        </div>
        <div class="span12">
            <%= t('profit') %> : <span class="label label-success"><%= @profit %> €</span>
        </div>
        <div class="span12">
            <%= link_to(t('balancesheet'), :controller => "sellings", :action => "balancesheet") %>
        </div>
      </div>
    </div>
  </div>
  
<script type="text/javascript">
    function basic_bars_depositors(labels, values) {
        var sorted = values.sort(function(a,b){return a-b});
        
        var diff = 0;
        var prev = -1;
        
        for(var i = 0; i < sorted.length; i++) {
            if(sorted[i] != prev) {
                diff += 1;
                prev = sorted[i];
            }
        }
        
        var max = sorted[sorted.length-1];   
        
        var bar4 = new RGraph.Bar('depositorsChartContainer', values);
            bar4.Set('chart.colors', ['#98CD00']); 
            bar4.Set('chart.labels', labels);
            bar4.Set('chart.text.size', 8);
            bar4.Set('chart.text.angle', 45);
            bar4.Set('chart.gutter.bottom', 50);
            bar4.Set('chart.numyticks', diff);
            bar4.Set('chart.ylabels.count', max);
            bar4.Set('chart.gutter.left', 35);
            bar4.Set('chart.variant', '3d');
            bar4.Set('chart.strokestyle', 'transparent');
            bar4.Set('chart.hmargin.grouped', 0);
            bar4.Set('chart.scale.round', true);
            bar4.Set('chart.zoom.factor', 3);
            bar4.Draw();
    };
    
    function basic_bars_depositors_hour(labels, values) {
        var sorted = values.sort(function(a,b){return a-b});
        
        var diff = 0;
        var prev = -1;
        
        for(var i = 0; i < sorted.length; i++) {
            if(sorted[i] != prev) {
                diff += 1;
                prev = sorted[i];
            }
        }
        
        var max = sorted[sorted.length-1];
        
        
        var bar4 = new RGraph.Bar('depositorsHourChartContainer', values);
            bar4.Set('chart.colors', ['#98CD00']); 
            bar4.Set('chart.labels', labels);
            bar4.Set('chart.text.size', 8);
            bar4.Set('chart.text.angle', 45);
            bar4.Set('chart.gutter.bottom', 80);
            bar4.Set('chart.numyticks', diff);
            bar4.Set('chart.ylabels.count', max);
            bar4.Set('chart.gutter.left', 35);
            bar4.Set('chart.variant', '3d');
            bar4.Set('chart.strokestyle', 'transparent');
            bar4.Set('chart.hmargin.grouped', 0);
            bar4.Set('chart.scale.round', true);
            bar4.Draw();
    };
    
    function basic_bars_sellings(labels, values) {
          var sorted = values.sort(function(a,b){return a-b});
          
            var diff = 0;
            var prev = -1;
            
            for(var i = 0; i < sorted.length; i++) {
                if(sorted[i] != prev) {
                    diff += 1;
                    prev = sorted[i];
                }
            }
            
            var max = sorted[sorted.length-1];
          
          var bar4 = new RGraph.Bar('sellingsChartContainer', values);
            bar4.Set('chart.colors', ['#2A17B1']); 
            bar4.Set('chart.labels', labels);
            bar4.Set('chart.numyticks', diff);
            bar4.Set('chart.ylabels.count', max);
            bar4.Set('chart.gutter.left', 35);
            bar4.Set('chart.variant', '3d');
            bar4.Set('chart.strokestyle', 'transparent');
            bar4.Set('chart.hmargin.grouped', 0);
            bar4.Set('chart.scale.round', true);
            bar4.Draw();
    };
    
    depositorsDataLabels = []
    depositorsDataValues = []
    
    <% @depositorsDataPerDay.each do |depD| %>
        depositorsDataLabels.push('<%= depD[0] %>');
        depositorsDataValues.push(<%= depD[1] %>);
    <% end %>
    
    depositorsDataPerHourLabels = []
    depositorsDataPerHourValues = []
    
    <% @depositorsDataPerDayPerHourFlatten.each do |depDH| %>
        depositorsDataPerHourLabels.push('<%= depDH[0] %>');
        depositorsDataPerHourValues.push(<%= depDH[1] %>);
    <% end %>
    
    sellingsDataLabels = []
    sellingsDataValues = []
    
    <% @sellsData.each do |selD| %>
        sellingsDataLabels.push('<%= selD[0] %>');
        sellingsDataValues.push(<%= selD[1] %>);
    <% end %>
    
    basic_bars_depositors(depositorsDataLabels, depositorsDataValues);
    
    basic_bars_depositors_hour(depositorsDataPerHourLabels, depositorsDataPerHourValues);
    
    basic_bars_sellings(sellingsDataLabels, sellingsDataValues);
</script>
  
  
</div>