<div class="row-fluid"> 
    <div class="page-header">
        <h1><%= t('settings') %></h1>
    </div>
</div>

<div class="well">
    <div class="row-fluid">
          <div class="span12">
                <%= form_tag(url_for(:controller => "settings", :action => "updateSettings"), :method => :post, :class => "form-horizontal") do %>
                
                        <div class="control-group">
                			<%= label_tag :pettycash, t('pettycash'), :class => "control-label" %>
                			<div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on">€</span>
                				    <%= text_field_tag :pettycash, params[:pettycash], :value => Settings.pettycash, :class => "input-large" %>
                				</div>
                			</div>
                		</div>
                		
                		<div class="control-group">
                			<%= label_tag :keptfees, t('keptfees'), :class => "control-label" %>
                			<div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on">%</span>
                				    <%= text_field_tag :keptfees, params[:keptfees], :value => Settings.keptfees, :class => "input-large" %>
                				</div>
                			</div>
                		</div>
                          
                           <div class="control-group">
                                <div class="controls">
                                     <%= submit_tag t('save'), :name => nil, :class => "btn btn-primary" %>
                                </div>
                           </div>
                 <% end %>
                 <hr/>
                 <%= form_tag(url_for(:controller => "settings", :action => "newYear"), :method => :post, :class => "form-horizontal") do %>
                
                        <div class="control-group">
                			<%= label_tag :currentyear, t('currentyear'), :class => "control-label" %>
                			<div class="controls">
                				<%= text_field_tag :currentyear, params[:currentyear], :value => Settings.currentyear, :class => "input-large", :disabled => true %>
                			</div>
                		</div>
                		<div class="alert alert-error">
							<%= t('notrevertaction') %>
						</div>
                          
                           <div class="control-group">
                                <div class="controls">
                                     <%= submit_tag t('newyear'), :name => nil, :class => "btn btn-danger" %>
                                </div>
                           </div>
                 <% end %>
            </div>
        </div>
</div>