<div class="row-fluid"> 
    <div class="page-header">
        <h1><%= t('depositorslist') %></h1>
    </div>
</div>

<div class="row-fluid">
        <table class="table table-striped">
                <tbody>
                    <% if ! @depositors.empty? %>
                        <% @depositors.each do |depositor| %>
                            <tr>
                                <td><a href="<%= url_for(:controller => "depositors", :action => "show", :depositorid => depositor.id) %>">d<%= depositor.id %> : <%= depositor.firstname.capitalize %> <%= depositor.lastname.capitalize %></a></td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
        </table>
        <% if @depositors.empty? %>
        <div class="alert alert-info">
                <%= t('norecordeddepositor') %>
        </div>
        <% end %>
</div>