<div class="row-fluid"> 
    <div class="page-header">
        <h1><%= t('searchresults') %></h1>
    </div>
</div>

<% if @results.empty? %>
    <div class="alert alert-info">
        <%= t('noresult') %>
    </div>
    
    <%= render "depositorsearchform" %>
<% else %>

    <div class="row-fluid">
            <table class="table table-striped">
                    <tbody>
                        <% @results.each do |depositor| %>
                            <tr>
                                <td><a href="<%= url_for(:controller => "depositors", :action => "show", :depositorid => depositor.id) %>">d<%= depositor.id %> : <%= depositor.firstname.capitalize %> <%= depositor.lastname.capitalize %></a></td>
                            </tr>
                        <% end %>
                    </tbody>
            </table>
    </div>

<% end %>