<div class="row-fluid"> 
    <div class="page-header">
        <h1><%= t('infoson') %> <%= @depositor.firstname %> <%= @depositor.lastname %></h1>
    </div>
</div>

<div class="row-fluid">
    <div class="tabbable">
      
            <!-- Tabs -->
            <ul class="nav nav-tabs">
                    <li class="active"><a href="#profil" data-toggle="tab"><%= t('profil') %></a></li>
                    <li><a href="#itemslist" data-toggle="tab"><%= t('items') %></a></li>
            </ul>
    
            <!-- Tabs content -->
            <div class="tab-content">
            
                    <!-- Profil -->
                    <div class="tab-pane active" id="profil">
                        <div class="row-fluid">
                            <div class="span10 offset2">
                                            <p><span class="label label-info"><i class="icon-user icon-white"></i> <%= t('depid') %></span> : d<%= @depositor.id %></p>
                                            <p><span class="label label-info"><i class="icon-envelope icon-white"></i> <%= t('mail') %></span> : <%= @depositor.email %><% if current_user.id != @depositor.id %> <a class="btn btn-primary" href="mailto:<%= @depositor.email %>"><%= t('contactbyemail') %></a><% end %></p>
                                            <p><span class="label label-info"><i class="icon-signal icon-white"></i> <%= t('phone') %></span> : <span><% if @depositor.phone.empty? %><%= t('nophone') %><% else %><%= @depositor.phone %><% end %></span></p>
                                           <p><span class="label label-info"><i class="icon-barcode icon-white"></i> <%= t('negotiation') %></span> : <span><%= @depositor.negotiation %> €</span></p>
                                           <p><span class="label label-info"><i class="icon-map-marker icon-white"></i> <%= t('address') %></span> :
                                                <div class="span3 offset1 well well-small">                 
                                                        <%= @depositor.address.street1 %><br>
                                                        <% if ! @depositor.address.street2.empty? %>
                                                                <%= @depositor.address.street2 %><br>
                                                        <% end %>
                                                        <% if ! @depositor.address.street3.empty? %>
                                                                <%= @depositor.address.street3 %><br>
                                                        <% end %>
                                                        <%= @depositor.address.zipcode %> <%= @depositor.address.city %> </p>
                                                </div>
                                            </p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Items -->
                    <div class="tab-pane" id="itemslist">
                            <%= render "itemslist" %>
                    </div>
                    
            </div>
    </div>
</div>