<div class="row-fluid"> 
    <div class="page-header">
        <h1><%= t('searchresults') %></h1>
    </div>
</div>

<% if @results.empty? %>
    <div class="alert alert-info">
        <%= t('noresult') %>
    </div>
    
    <%= render "itemsearchform" %>
<% else %>

    <div class="row-fluid">
            <table class="table table-striped">
                    <tbody>
                        <% @results.each do |item| %>
                            <tr>
                                <td><a href="<%= url_for(:controller => "items", :action => "show_only", :itemid => item.id) %>"><%= item.id %> : <%= item.name %></a></td>
                            </tr>
                        <% end %>
                    </tbody>
            </table>
    </div>

<% end %>