<div class="row-fluid"> 
    <div class="page-header">
        <h1><%= t('infoson') %> <%= t('theitem') %> <%= @item.id %></h1>
    </div>
</div>

<div class="row-fluid">
        <div class="span10 offset2">
                <p><span class="label label-info"><%= t('name') %></span> : <%= @item.name %></p>
                <p><span class="label label-info"><%= t('type') %></span> : <%= @item.type %></p>
                <p><span class="label label-info"><%= t('brand') %></span> : <%= @item.brand %></p>
                <p><span class="label label-info"><%= t('color') %></span> : <%= @item.color %></p>
                <p><span class="label label-info"><%= t('price') %></span> : <%= @item.price %></p>
                <p><span class="label label-info"><%= t('other') %></span> : <%= @item.other %></p>
                <div>
                    <% if @item.is_sold? %>
                        <span class="label label-success"><%= t('sold') %></span>
                    <% else %>
                        <span class="label label-warning"><%= t('tosell') %></span>
                    <% end %>
                </div>
        </div>                     
 </div>